@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

    body {
        @apply bg-neutral overflow-x-hidden font-lato
    }

    .max-w-container {
        max-width: 85rem;
        margin: 0 auto;
        padding: 0 2rem;
        overflow-x: hidden;
    }

    @media (min-width: 1024px) {
        .max-w-container {
            margin-left: 210px;
        }
    }

    input[placeholder] {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    h1 {
        @apply text-2xl md:text-3xl font-montserrat font-medium
    }

    h2 {
        @apply text-2xl
    }

    h3 {
        @apply text-xl font-montserrat uppercase text-white tracking-wider
    }

    p {
        @apply text-dark leading-normal
    }

    li {
        @apply list-disc font-montserrat
    }
}