@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

    /* Light Mode */
    body {
        @apply font-lato bg-light-bg text-black dark:bg-dark-bg dark:text-primary-light transition-colors duration-300;
    }

    header {
        @apply bg-white dark:bg-primary-dark dark:text-primary-light
    }

    .max-w-container {
        /* max-width: 110rem; */
        margin: 0 auto;
        overflow-x: hidden;
        @apply px-5 md:px-6 lg:px-8
    }

    @media (min-width: 1024px) {
        .max-w-container {
            margin-left: 210px;
        }
    }

    input[placeholder] {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    h1 {
        @apply text-3xl md:text-4xl lg:text-5xl font-montserrat font-medium leading-normal
    }

    h2 {
        @apply text-2xl md:text-3xl lg:text-4xl font-montserrat font-medium leading-normal
    }

    h3 {
        @apply text-base font-montserrat font-medium uppercase md:text-xl
    }

    h4 {
        @apply text-[20px] text-white font-lato font-light
    }

    span, p {
        @apply leading-[28px] text-base md:text-lg
    }

    li {
        @apply list-disc text-base md:text-lg
    }

    /* Hide default checkbox */
    .custom-checkbox {
        appearance: none;
        width: 20px;
        height: 20px;
        /* Default border color */
        border-radius: 4px;
        background-color: white;
        position: relative;
        cursor: pointer;
    }


    .detail-input input[type="checkbox"] {
        appearance: none;
        -webkit-appearance: none;
        display: flex;
        align-content: center;
        justify-content: center;
        width: 18px;
        height: 18px;
        border: 1.5px solid black;
        border-radius: 50%;
        position: relative;

        @apply dark:border-primary-light
    }

    .detail-input input[type="checkbox"]::before {
        content: "";
        width: 10px;
        height: 10px;
        background-color: gray;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 100;
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
        transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;

        @apply dark:bg-primary-light
    }

    input[type="checkbox"]:checked::before {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

    input[type="checkbox"]:hover {
        color: black;
    }


    .custom-list li {
        position: relative;
        list-style-type: none;
    }

    .custom-checkbox {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 20px;
        height: 20px;
        margin-right: 5px;
        border: 1px solid black;
        /* Primary color */
        border-radius: 4px;
        cursor: pointer;
        position: relative;
        outline: none;
        transition: background-color 0.3s ease;
        background-color: white;

        @apply dark:border-white
    }

    .custom-checkbox:checked::before {
        content: '✔';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 16px;
        font-weight: bold;


    }

    .filter-icon {
        filter: none;
        position: relative;
        z-index: 2;
    }

    .dark .filter-icon-wrapper::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: white;
        border-radius: 50%;
        /* Ensuring a circular background */
        z-index: 1;
        filter: brightness(2);
    }

    .list-border {
        border-radius: 200px 25px 200px 45px / 25px 200px 35px 200px;
    }

    .custom-number-input::-webkit-inner-spin-button,
    .custom-number-input::-webkit-outer-spin-button {
        -webkit-appearance: none !important;
        margin: 0;
    }

    .custom-number-input {
        -moz-appearance: textfield !important;
        /* Firefox */
    }

}